#Tupro AI Kelompok 8
M. Sulthon Sayid A (1301204089)

Yunolva Anis R (1301204096)

# Pembacaan Data Latih atau Data Uji

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Importing data set from csv

data_train1 = pd.read_csv("https://raw.githubusercontent.com/trooulala/tupro-ai-3/main/CSV%20version/train_data.csv")
data_test = pd.read_csv("https://raw.githubusercontent.com/trooulala/tupro-ai-3/main/CSV%20version/test_data_empty.csv")

In [ ]:
data_train1

      id  x1  x2  x3  y
0      1  60  64   0  1
1      2  54  60  11  0
2      3  65  62  22  0
3      4  34  60   0  1
4      5  38  69  21  0
..   ...  ..  ..  .. ..
291  292  59  64   1  1
292  293  65  67   0  1
293  294  53  65  12  0
294  295  57  64   1  0
295  296  54  59   7  1

[296 rows x 5 columns]

In [ ]:
data_test

    id  x1  x2  x3
0  297  43  59   2
1  298  67  66   0
2  299  58  60   3
3  300  49  63   3
4  301  45  60   0
5  302  54  58   1
6  303  56  66   3
7  304  42  69   1
8  305  50  59   2
9  306  59  60   0

In [ ]:
data_train1.describe(include='all').T

    count        mean        std   min    25%    50%     75%    max
id  296.0  148.500000  85.592056   1.0  74.75  148.5  222.25  296.0
x1  296.0   52.462838  10.896367  30.0  44.00   52.0   61.00   83.0
x2  296.0   62.881757   3.233753  58.0  60.00   63.0   65.25   69.0
x3  296.0    4.111486   7.291816   0.0   0.00    1.0    5.00   52.0
y   296.0    0.736486   0.441285   0.0   0.00    1.0    1.00    1.0

In [ ]:
#Normalize Function

column = ['x1', 'x2', 'x3']
def normalize(data, column, factor=1):
    result = data.copy()
    for col in column:
        max_value = data[col].max()
        min_value = data[col].min()
        result[col] = ((data[col] - min_value) / (max_value - min_value))*factor
    return result

In [ ]:
#Slicing data_train into data_val

data_train = data_train1.iloc[:270]
data_val = data_train1.iloc[270:296]

In [ ]:
#Data train normalization process

cols_to_norm = ['x1','x2', 'x3']
data_train[cols_to_norm] = data_train[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))
data_train.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

   id        x1        x2        x3  y
0   1  0.566038  0.545455  0.000000  1
1   2  0.452830  0.181818  0.211538  0
2   3  0.660377  0.363636  0.423077  0
3   4  0.075472  0.181818  0.000000  1
4   5  0.150943  1.000000  0.403846  0

In [ ]:
#Data validation normalization process

cols_to_norm = ['x1','x2', 'x3']
data_val[cols_to_norm] = data_val[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))
data_val.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

      id        x1        x2        x3  y
270  271  0.371429  0.545455  0.000000  0
271  272  0.914286  0.000000  0.000000  0
272  273  0.971429  0.000000  0.000000  1
273  274  0.000000  0.636364  0.000000  1
274  275  0.342857  0.272727  0.333333  1

In [ ]:
#Data test normalization process

cols_to_norm = ['x1','x2', 'x3']
data_test[cols_to_norm] = data_test[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))
data_test.head()

    id    x1        x2        x3
0  297  0.04  0.090909  0.666667
1  298  1.00  0.727273  0.000000
2  299  0.64  0.181818  1.000000
3  300  0.28  0.454545  1.000000
4  301  0.12  0.181818  0.000000

# Pengujian Data

In [ ]:
#Reset Index for Data Val 

data_val_drop_y = data_val.drop('y', axis = 1)
data_val_reset = data_val_drop_y.reset_index(drop =True)

In [ ]:
#Distance Method = Manhattan 

#Manhattan Formula for Data Test
def Manhattan_formula(data_train,data_test):
    manResult = []
    for i in range (len(data_train)):
      dist = abs((((data_train['x1'][i] - data_test['x1'])) +((data_train['x2'][i] - data_test['x2'])) + ((data_train['x3'][i] - data_test['x3']))))
      manResult.append([dist, data_train['y'][i]])
    return manResult

#Manhattan Process for Data Test
def ManhattanKNN(data_train, data_test, k):
    finalResult = []
    for i in range(len(data_test)):
        dst = Manhattan_formula(data_train, data_test.iloc[i])
        dst = sorted(dst, key=lambda x:x[0], reverse = True)
        nilai_0 = 0 
        nilai_1 = 0
        for j in range(k):
            if dst[j][1] == 1:
                nilai_1 += 1
            else:
                nilai_0 += 1
        if nilai_1 > nilai_0 :
            finalResult.append([data_test.loc[i, 'id'], 1])
        else:
            finalResult.append([data_test.loc[i, 'id'], 0])
    dfHasil = pd.DataFrame(finalResult, columns = ['id', 'y'])
    return dfHasil
testManha = ManhattanKNN(data_train, data_test, 3)

#Manhattan Formula for Data Validation
def Manhattan_Formula_for_dataval(data_train,data_val):
    manResult = []
    for i in range (len(data_train)):
      dist = abs((((data_train['x1'][i] - data_val['x1'])) +((data_train['x2'][i] - data_val['x2'])) + ((data_train['x3'][i] - data_val['x3']))))
      manResult.append([dist, data_train['y'][i]])
    return manResult

#Manhattan Process for Data Validation
def ManhattanKNN_for_dataval(data_train, data_test, k):
    finalResult = []
    for i in range(len(data_val_reset)):
        dst = Manhattan_Formula_for_dataval(data_train, data_val_reset.iloc[i])
        dst = sorted(dst, key=lambda x:x[0], reverse = True)
        nilai_0 = 0 
        nilai_1 = 0
        for j in range(k):
            if dst[j][1] == 1:
                nilai_1 += 1
            else:
                nilai_0 += 1
        if nilai_1 > nilai_0 :
            finalResult.append([data_val_reset.loc[i, 'id'], 1])
        else:
            finalResult.append([data_val_reset.loc[i, 'id'], 0])
    dfHasil = pd.DataFrame(finalResult, columns = ['id', 'y'])
    return dfHasil
Manhattan = ManhattanKNN_for_dataval(data_train, data_val, 7)

testManha

    id  y
0  297  1
1  298  1
2  299  1
3  300  1
4  301  1
5  302  1
6  303  1
7  304  1
8  305  1
9  306  1

In [ ]:
#Distance Method : Euclidean 

#Euclidean Formula for Data Test
def euclidean_formula(data_train,data_test):
    eucResult = []
    for i in range (len(data_train)):
      dist = np.sqrt((data_train['x1'][i] - data_test['x1'])**2 + (data_train['x2'][i] - data_test['x2'])**2 + (data_train['x3'][i] - data_test['x3'])**2)
      eucResult.append([dist, data_train['y'][i]])
    return eucResult

#Euclidean Process for Data Testing
def euclidean(train, test, k):
    finalResult = []
    for i in range(len(data_test)):
        dst = euclidean_formula(data_train, data_test.iloc[i])
        dst = sorted(dst, key=lambda x:x[0], reverse = True)
        nilai_0 = 0 
        nilai_1 = 0
        for j in range(k):
            if dst[j][1] == 1:
                nilai_1 += 1
            else:
                nilai_0 += 1
        if nilai_1 > nilai_0 :
            finalResult.append([data_test.loc[i, 'id'], 1])
        else:
            finalResult.append([data_test.loc[i, 'id'], 0])
    dfHasil = pd.DataFrame(finalResult, columns = ['id', 'y'])
    return dfHasil
testEuclid = euclidean(data_train, data_test, 5)

def euclidean_formula_for_val(data_train,data_val):
    eucResult = []
    for i in range (len(data_train)):
      dist = np.sqrt((data_train['x1'][i] - data_val['x1'])**2 + (data_train['x2'][i] - data_val['x2'])**2 + (data_train['x3'][i] - data_val['x3'])**2)
      eucResult.append([dist, data_train['y'][i]])
    return eucResult

#Euclidean Process for Data Validation
def Eucledian_Validation(train, validation, k):
    finalResult = []
    for i in range(len(data_val_reset)):
        dst = euclidean_formula_for_val(data_train, data_val_reset.iloc[i])
        dst = sorted(dst, key=lambda x:x[0], reverse = True)
        nilai_0 = 0 
        nilai_1 = 0
        for j in range(k):
            if dst[j][1] == 1:
                nilai_1 += 1
            else:
                nilai_0 += 1
        if nilai_1 > nilai_0 :
            finalResult.append([data_val_reset.loc[i, 'id'], 1])
        else:
            finalResult.append([data_val_reset.loc[i, 'id'], 0])
    dfHasil = pd.DataFrame(finalResult, columns = ['id', 'y'])
    return dfHasil

Euclidean = Eucledian_Validation(data_train, data_val,5)

testEuclid

    id  y
0  297  1
1  298  1
2  299  1
3  300  1
4  301  1
5  302  1
6  303  1
7  304  0
8  305  1
9  306  1

#Evaluasi

In [ ]:
# Slicing
x_train = data_train.iloc[:, [1, 2, 3]].values
y_train = data_train.iloc[:, -1].values
x_val = data_val.iloc[:, [1, 2, 3]].values
y_val = data_val.iloc[:, -1].values

In [ ]:
#Accuracy Test

#Accuracy Test Without Distance Method
correct = 0 
for i in range(len(y_val)):
  if y_train[i] == y_val[i]:
    correct += 1
  i += 1
accuracy = float(correct / len(y_val) *100)
print("Accuracy without method : ",round(accuracy, 2), "%")

#Accuracy Test With Euclidian Distance Method
Euclidean = Eucledian_Validation(data_train, data_val,5)
correct = 0 
for i in range(len(Euclidean)):
    if Euclidean['y'][i] == data_train['y'][i]:
        correct += 1
    i+= 1
euclidean_accuracy = float(correct/(len(Euclidean))*100)
print("Accuracy Euclidean : ",round(euclidean_accuracy,2), "%")

#Accuracy Test With Manhattan Distance Method
Manhattan = ManhattanKNN_for_dataval(data_train, data_val, 5)
correct = 0 
for i in range(len(Manhattan)):
    if Manhattan['y'][i] == data_train['y'][i]:
        correct += 1
    i+= 1
manhattan_accuracy = float(correct/(len(Manhattan))*100)
print("Accuracy Manhattan : ", round(manhattan_accuracy,2), "%")

Accuracy without method :  61.54 %
Accuracy Euclidean :  65.38 %
Accuracy Manhattan :  73.08 %

In [ ]:
#Save Data Test Predict to excel

euclidean(data_train, data_test, 5).to_excel("euclidean.xlsx")
ManhattanKNN(data_train, data_test, 5).to_excel("manhattan.xlsx")

---
---
----
---